
<div class="text-center">

    <div class="container">
    <h1 class="display-4">@ViewData["title"]</h1>


        <form asp-action="SelectPage">
            <div class="row"> 
                '

                <div class="col-md-6">

                    <input id="controller" name="submit" type="submit" value="Controller" />
                    
                </div>

                <div class="col-md-6">

                    <input id="controller" name="submit" type="submit" value="Client" />
                </div>


                '
            </div>
        </form>
    </div>


</div>
