
@model SolarSystem_GRP5.Models.ViewModels.PlanetInfoView

<div class="container">

    <h1>this is the planet info page</h1>
    <h2>@Model.Resources.StringValues["lang.planet.title"]</h2>


</div>

