body {
    background-image: url(/Graphics/stars.jpg);
}

img {
    width: 350pt;
    position: absolute;
    right: 20%;
    top: 13%;
}



table {
    position: absolute;
    top: 3%;
    border-radius: 25px;
    padding: 10px;
    max-width: 35%;
    background-color: #333;
    border-collapse: collapse;
    border-spacing: 10pt
}

TD {
    border: inset 10pt
}

    TD.special {
        border: inset 10pt
    }


.h1 {
    font-size: xx-large;
    font-family: 'Trebuchet MS', sans-serif;
    color: white;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    padding-bottom: 4px;
    position: relative;
    text-decoration: none;
}

    .h1 ::after {
        background: #f00;
        background: linear-gradient(to right, transparent 0%, rgb(255, 255, 255) 50%, transparent 100%);
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
    }

.h2 {
    position: relative;
    top: 20px;
    font-size: large;
    font-family: 'Trebuchet MS', sans-serif;
    color: #e0dfdc;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222,
}

.h3 {
    position: relative;
    top: 20px;
    font-size: large;
    font-family: 'Trebuchet MS', sans-serif;
    color: #e0dfdc;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222,
}

.h4 {
    position: relative;
    top: 15px;
    font-size: large;
    font-family: 'Trebuchet MS', sans-serif;
    color: #e0dfdc;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222,
}

.h5 {
    position: relative;
    top: -5px;
    font-size: large;
    font-family: 'Trebuchet MS', sans-serif;
    color: #e0dfdc;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222,
}

.h6 {
    position: relative;
    top: -30px;
    font-size: large;
    font-family: 'Trebuchet MS', sans-serif;
    color: #e0dfdc;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222,
}

.h7 {
    position: relative;
    top: -70px;
    font-size: large;
    font-family: 'Trebuchet MS', sans-serif;
    color: #e0dfdc;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222,
}

.h8 {
    position: relative;
    top: -80px;
    font-size: large;
    font-family: 'Trebuchet MS', sans-serif;
    color: #e0dfdc;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222,
}

.hh {
    position: relative;
    top: 5px;
    font-size: 10px;
    font-family: 'Trebuchet MS', sans-serif;
    color: #e0dfdc;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222,
}

.hb {
    position: relative;
    top: 5px;
    font-weight: bold;
    font-size: 13px;
    font-family: 'Trebuchet MS', sans-serif;
    color: #e0dfdc;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222,
}

.ho {
    position: relative;
    top: -5px;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Trebuchet MS', sans-serif;
    color: #e0dfdc;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222,
}

.hc {
    position: relative;
    top: -25px;
    font-weight: bold;
    font-size: 17px;
    font-family: 'Trebuchet MS', sans-serif;
    color: #e0dfdc;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222,
}

.hd {
    position: relative;
    top: -55px;
    font-weight: bold;
    font-size: 19px;
    font-family: 'Trebuchet MS', sans-serif;
    color: #e0dfdc;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222,
}

.hi {
    position: relative;
    top: -80px;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Trebuchet MS', sans-serif;
    color: #e0dfdc;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222,
}

.hl {
    position: relative;
    top: -80px;
    font-weight: 100;
    font-size: 15px;
    font-family: 'Trebuchet MS', sans-serif;
    color: #e0dfdc;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222,
}

h2 {
    font-weight: 100;
}

h3 {
    font-weight: 100;
}

h4 {
    font-weight: 100;
}

h5 {
    font-weight: 100;
}

h6 {
    font-weight: 100;
}

p {
    font-weight: 100;
}

p2 {
    font-weight: 100;
}
