*

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    user-select: none;
    font-family: 'Trebuchet MS', sans-serif;
    background: linear-gradient(115deg, rgba(101,151,209,0.8),rgba(202,102,211,0.5)),url(/quizbg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
#title{
    text-align: center;
    padding: 0.8rem 0;
    font-size: 3rem;
    color: black;
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #333;
color: #e0dfdc;
font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222,
}
.questions{
    margin: 3rem auto;
    width: 90vw;
    padding: 8rem;
    background: white;
    cursor: default;
    border-radius: 1rem;
    background-color: #333;
color: #e0dfdc;
font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222,
}
#question{
    position: fixed;
    top: 100pt;
    right: 90px; 
    margin-bottom: 1rem; 
    background-color: #333;
color: #e0dfdc;
font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222,
}
.option{
    position: absolute;
    top: -50px;
    left: 20px;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    border-bottom: solid 0.1rem black;
    width: 24rem;
    background: grey;
    border-radius: 1rem;
}
.option1{
    position: absolute;
    right: -80px;
    bottom: 0px;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    border-bottom: solid 0.1rem black;
    width: 24rem;
    background: grey;
    border-radius: 1rem;
}
.option2{
    position: absolute;
    bottom: -70px;
    left: 20px;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    border-bottom: solid 0.1rem black;
    width: 24rem;
    background: grey;
    border-radius: 1rem;
}
.option3{
    position: absolute;
    right: -80px;
    bottom: -70px;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    border-bottom: solid 0.1rem black;
    width: 24rem;
    background: grey;
    border-radius: 1rem;
}
.option:hover{
    color: white;
}
.option1:hover{
    color: white;
}
.option2:hover{
    color: white;
}
.option3:hover{
    color: white;
}
ol{
    position: relative;
    padding: 0 1.5rem;

    background-color: gre;
color: #e0dfdc;
font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222,
}
span{
    display: block;
    padding: 0.1rem 0.7rem;
    border-radius: 1rem;
}
#answer{
    margin-top: 2.5rem;
}
#stat{
    position: absolute;
    right: 970pt;
    top: 290px;
    font-size: larger;
    margin-top: 4rem;
    color: white;
}
.buttons{
    text-align: center;
    
}
button{
    padding: 0.2rem 1.5rem;
    border: none;
    outline: none;
    font-size: 2rem;
    border-radius: 1.5rem;
    color: black;
    background: grey;
    background-color: #333;
color: #e0dfdc;
font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222,
}
button:active{
    background: lavender;
}
#scoreboard,#answerBank{
    color: #e0dfdc;
    border-radius: 30px;
    width: 20rem;
    background: grey;
    padding: 2rem;
    text-align: center;
    margin: auto;
    position: relative;
    top: 5rem;
    display: none;
}
#score-title{
    margin: 1rem 0;
}
#score-btn,#check-answer{
    margin-top: 2rem;
}
#score{
    font-size: 2.5rem;
}
#answerBank li{
    text-align: left;
    margin-bottom: 0.2rem;
    font-size: larger;
}
#answers{
    margin-top: 1rem;
}



